@font-face {
    font-family: "Poppins";
    src: local("../fonts/Poppins-Regular.ttf") format("ttf");
}

@font-face{
    font-family: "Raleway";
    src: local("../fonst/Ralewa-Bold.ttf") format("ttf");
}

header{
    margin-top: 54px;
    margin-right: 155px;
    text-align: right;
}

#header{
    font-family: "Raleway", bold;
    font-size: 55px;
    font-weight: bold;
    color: #534847;
    width: 642px;
    height: 130px;
    margin-left: 159px;
    margin-top: 152px;
}

#building{
    border-top-left-radius: 25px;
    margin-top: 66px;
    float: right;
    width: 612px;
    height: 773px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-block{
    margin-top: 59px;
}

.description{
    font-family: "Poppins";
    color: #8d8180;
    font-size: 16px;
    width: 462px;
    margin-left: 171px;
    font-weight: 400;
    line-height: 24px;
}

.more{
    margin-top:63px;
    color: #e6a859;
    font-family: "Poppins";
    font-weight:400;
    font-style: normal;
}

#circle1{
    margin-top:105px;
    margin-left: -64px;
    float: left;
}

.poppins{
    font-family: "Poppins";
}

#home{
    margin-right: 18px;
}

#about{
    margin-right: 16px;
}

#contact{
    margin-right: 18px;
}

#Services{
    margin-right: 14px;
}

#get {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    background: #e6a859;
    color: #ffffff;
}

#button-our-projects{
    float:right;
    margin-top: -22px;
    margin-right: -612px;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 30px;
    padding-bottom: 31px;
    background-color: #ffffff;
}

#yellowPoint {
    margin-top: 115px;
    margin-left: 20px;
}

.secondBlock{
    margin: 0px;
}

#circle2{
    margin-top: -96px;
    margin-right: 43px;
    float: right;
    width:103px;
}

h2{
    margin-top: 229px;
    font-weight: 700;
    font-family: "Raleway", normal;
    font-size: 40px;
    width: 340px;
    height: 94px;
    margin-left: 171px;
    color: #534847;
}

#underh{
    margin-top: 21px;
    margin-left: 171px;
}
.second{
    float:right;
    margin-right: 125px;
    margin-top: -72px;
    width: 609px;
    height: 97px;;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8d8180;
    line-height: 24px;
}

#underwrite{
    float:right;
    margin-right: 26px;
    margin-top: 63px;
    color: #E4A655;
}

#bluePoints{
    margin-top: 220px;
    margin-left:45px;
}

.column {
    margin-top: 140px;
    float: left;
    width: 50%;
}

.row:after {

    content: "";
    display: table;
    clear: both;
}

#kitchentext{
    margin-left: 128px;
}

#kitchen-head{
    margin: 0px;
}

#kitchendis{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8d8180;
    line-height: 24px;
    margin-top: 47px;
    width: 609px;
        float: right;
}

.learnmore{
    margin-top: 87px;
    width: 89px;
    padding-left:65px;
    padding-top:12px;
    padding-right:66px;
    padding-bottom: 11px;
    background: #E6A859;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

#greatwork{
    width: 220px;
    margin-top:87px;
    margin-left:0px;
}

.secondStageTxt{
    margin-left:110px;
}

#chairdis{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8d8180;
    line-height: 24px;
    margin-top: 47px;
    width:531px;
        float: right;
}

#chairimg{
    margin-top: 139px;
    width: 45vw;
    float: right;
}

#kitchenimg{
    width: 45vw;
}

.iconHead{
    margin-left: 40%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 261px;
}

.icon{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
}


.column3 {
    float: left;
    width: 33%;
}

h3{
    margin-top: 65px;
    width: 176px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #534847;
    line-height: 21px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.latPro{
    margin-top: -118px;
}

.iconDis{
    width: 213px;
    margin-top: 17px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #8D8180;
}

#pro{
    width: 1000px;
    margin: 0 auto;
}

.projects{
    display: inline-block;
    margin-right: 45px;
}

.title{
    width: 149px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 9px;
    padding-left: 12px;
    padding-bottom: 9px;
    background-color: #F9F9F9;
    color: #534847;
    margin-top: -50px;
    position: absolute;
    z-index: 100;

}

.column2 {
    float: left;
    width: 50%;
}

.gallery{
    margin: 139px 141px 0px 0px;
    padding: 82px 0px 35px 179px;
    background-color: #F9F9F9;
}

.gal{
    display: block;
    width: 50%;
}

#galler{
    margin-top: 41px;
}

.dis{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8D8180;
    width: 291px;
    margin-right: 17%;
    margin-top: 40px;
    float: right;
}

#collage{
    margin-top: 57px;
    width: 77vw;
}

#point{
    margin-top: -530px;
    margin-bottom: 318px;
    float: right;
}

footer{
    padding-top: 82px;
    background-color: #282322;
}

h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-left: 123px;
    margin-bottom: 53px;
}

.aboutComp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 317px;
    margin-left: 127px;
    margin-top: -20px;

}

input{
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    width: 289px;
    height: 47px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #534847;
    margin-left: 123px;
    text-align: center;
    margin-top: 12px;
    padding: 0px;
}

button{
    text-align: center;
    background-color: #E6A859;
    margin-top: 17px;
    width: 289px;
    height: 47px;
    border: 0px;
    margin-left: 123px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0px;
}

.news{
    margin-left: 123px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

.social{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 123px;

}

#credits{
    margin-top: 94px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

nav{
    text-align: center;
    margin-left: 55px;
    margin-top: 25px;
}

.fnav{
    margin-right: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

